@import "./Header.css";
@import "./Home.css";

:root{
    --blue-700: #051529;
    --blue-500: #1f2e5c;
    --blue-300: #0048bd;
    --blue-200: #2b75ee;
    --blue-100: #9ec1fa;
    --blue-50: #e5f0ff;
}

body{
    margin: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
    max-width: 1100px;
    background-color: var(--blue-700);
}

