@import "./Header.css";
@import "./Home.css";

:root{
    --blue-700: #051529;
    --blue-500: #1f2e5c;
    --blue-300: #0048bd;
    --blue-200: #2b75ee;
    --blue-100: #9ec1fa;
    --blue-50: #e5f0ff;

    --yellow-1000: #ffc83d;
}

body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--blue-700);
}

#root{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blue-700);
}

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

.card_project{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .3rem;
    margin: 1rem;
}

.card_project h3{
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: var(--blue-50);
    font-size: 1.7rem;
    text-transform: capitalize;
}

.container_img{
    width: 100%;
}

.container_img img{
    width: 100%;
    border: 1px solid var(--blue-100);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.container_btn{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container_btn a{
    color: var(--blue-50);
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border: 1px solid var(--blue-100);
}

.container_btn a span{
    font-size: 1.1rem;
    font-weight: bold;
}

.container_btn a svg{
    width: 1.5rem;
    height: 1.5rem;
}

.btn_eyes{
    background-color: var(--yellow-1000);
}

.container_btn a span{
    color: var(--blue-700);
}

.container_btn svg{
    fill: var(--blue-700);
    stroke: var(--blue-700);
}

.btn_code{
    background-color: var(--blue-50);
}
