@import url(./config.css);

.footer{
    padding: 1rem;
}

.title_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.title_footer h3,
.title_footer h1{
    margin: 0;
    color: var(--blue-100);
    text-align: center;
}

.title_footer h3{
    font-size: var(--font-size-subtitle);
    line-height: 1.5rem;
    padding: 1rem;
    font-family: var(--font-family-body);
    font-weight: 300;
}

.title_footer h1{
    font-size: var(--font-size-title);
    line-height: 3.2rem;
    font-family: var(--font-family-body);
    font-weight: 400;
}

.rrss a svg{
    width: 3rem;
    height: 3rem;
    fill: var(--blue-50);
}

.rrss{
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "titleRRSS titleRRSS" "twitter github";
    justify-items: flex-start;
    align-items: center;
    gap: .5rem;
        
}

.rrss h3{
    font-size: var(--font-size-header);
    color: var(--blue-50);
    grid-area: titleRRSS;
    margin: 0;
    font-family: var(--font-family-body);
    font-weight: 400;
}

.rrss a:first-child{
    grid-area: twitter;
}

.rrss a:last-child{
    grid-area: github;
}

.rrss a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    color: var(--blue-50);
    text-decoration: none;
    font-size: var(--font-size-btn);
    font-family: var(--font-family-code);
}

.rrss a:hover{
    color: var(--blue-200);
}

.rrss a:hover svg{
    fill: var(--blue-200);
}

.phrases{
    color: var(--blue-50);
    font-size: var(--font-size-btn);
    font-family: var(--font-family-code);
    margin-bottom: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.5rem;
}

.phrases q{
    font-style: italic;
    line-height: 1.5rem;
}

.footer_rrss{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media screen and (min-width: 768px){
    .footer_rrss{
        flex-direction: row;
        align-items: end;
    }

    .phrases{
        width: 50%;
    }
}