:root{
    --width-hamburg: 2rem;
    --height-hamburg: .4rem;
    --height-sepatacion-hamburg: .6rem;

    --firt-color: #FFFDF9;
    --second-color: #3F4E4F;
    --third-color: #277BC0;
}

/*add style menu hamburg*/
.container_hamburg_menu{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburg_menu{
    width: var(--width-hamburg);
    height: var(--height-hamburg);
    position: relative;
    transition: all .4s;
    background: var(--second-color);
}

.hamburg_menu::after{
    content: "";
    position: absolute;
    width: var(--width-hamburg);
    height: var(--height-hamburg);
    top: var(--height-sepatacion-hamburg);
    transition: all .4s;
    background: var(--second-color);
}

.hamburg_menu::before{
    content: "";
    position: absolute;
    width: var(--width-hamburg);
    height: var(--height-hamburg);
    bottom: var(--height-sepatacion-hamburg);
    transition: all .4s;
    background: var(--second-color);
}

.container_hamburg_menu.active .hamburg_menu::after{
    transform: rotateZ(45deg) translate(-.42rem, -.42rem);
}

.container_hamburg_menu.active .hamburg_menu::before{
    transform: rotateZ(-45deg) translate(-.42rem, .42rem);
}

.container_hamburg_menu.active .hamburg_menu{
    background: transparent;
}

/*end style hamburg menu*/

@media screen and (min-width: 760px) {
    .container_hamburg_menu{
        display: none;
    }
}